img{
    height: 15rem;
    background-color: black;
    margin-right: 28px;
}

*{
    background-color: lightgrey;
}

.border1 , .border2{
    border: 2px solid black;
    margin-top: 7px;
}

.row{
    flex-direction: row;
    display: flex;
    
}

.subtopic{
    font-size: 1.7rem;
}

p{
    font-size: 1.2rem;
    line-height: 1.3;
}

.topic{
    font-family: "Lobster", serif;
    font-weight: 900;
    font-style: normal;
    font-size: 2rem;
    text-align: center;
  }


  

  